body {
	text-align: center;
}

body div {
	width: 100%;
}

#head {
	font-size: 4em;
}

#timer {
	font-size: 5em;
}

#buttons {
}

#buttons a {
	text-decoration: none;
	font-size: 3em;
	color: black;
	padding: 10px;
}

#start {
	background: green;
}

#stop {
	background: red;
}

#reset {
	background: orange;
}
